In [24]:
import pandas as pd
df=pd.read_csv("stocks_csv_file")

In [26]:
df

   Unnamed: 0 ticker            eps revanue          peple
0           0    GGL          27.82     845     larry page
1           1    WMT           4.96      65             na
2           2   MSFT             -1      64     bill gates
3           3    RIL  not avaliable    1023  mukesh ambani
4           4   TATA            5.6      na     ratan tata

In [27]:
df.pop('Unnamed: 0')  # if we want to skip columns from data frame

0    0
1    1
2    2
3    3
4    4
Name: Unnamed: 0, dtype: int64

In [28]:
df

  ticker            eps revanue          peple
0    GGL          27.82     845     larry page
1    WMT           4.96      65             na
2   MSFT             -1      64     bill gates
3    RIL  not avaliable    1023  mukesh ambani
4   TATA            5.6      na     ratan tata

In [30]:
df2=pd.read_csv("stocks_csv_file",nrows=3) # if we want to read only few rows from large data

In [32]:
df2.pop('Unnamed: 0')

0    0
1    1
2    2
Name: Unnamed: 0, dtype: int64

In [33]:
df2

  ticker    eps  revanue       peple
0    GGL  27.82      845  larry page
1    WMT   4.96       65          na
2   MSFT  -1.00       64  bill gates

In [39]:
df3=pd.read_csv('stocks_csv_file',na_values={   # 'na_values' is very useful when we have to clean data
    'eps' :['not avaliable','na'],
   'revanue' :['not avaliable','na'],
    'peple': ['not avaliable','na']
})
df3.pop('Unnamed: 0')

0    0
1    1
2    2
3    3
4    4
Name: Unnamed: 0, dtype: int64

In [40]:
df3

  ticker    eps  revanue          peple
0    GGL  27.82    845.0     larry page
1    WMT   4.96     65.0            NaN
2   MSFT  -1.00     64.0     bill gates
3    RIL    NaN   1023.0  mukesh ambani
4   TATA   5.60      NaN     ratan tata