In [23]:
import pandas as pd
df = pd.read_excel('lav1.xlsx')

In [24]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6  Rainy
1 2017-02-01           23          7  Sunny
2 2017-03-01           28          4  Rainu
3 2017-04-01           30          8  Sunny
4 2017-05-01           35          4   snow

In [25]:
df.shape # print no. of rows and column

(5, 4)

In [28]:
df.tail(1)

         day  temperature  windspeed event
4 2017-05-01           35          4  snow

In [13]:
df.head()

         day  temperature  windspeed  event
0 2017-01-01           32          6  Rainy
1 2017-02-01           23          7  Sunny
2 2017-03-01           28          4  Rainu
3 2017-04-01           30          8  Sunny
4 2017-05-01           35          4   snow

In [15]:
df.columns  # print column

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [16]:
df[2:4]    # print data from row 2 to 3 , here 4 is exclusive

         day  temperature  windspeed  event
2 2017-03-01           28          4  Rainu
3 2017-04-01           30          8  Sunny

In [17]:
df[['day','temperature']] # if we want to print only few column

         day  temperature
0 2017-01-01           32
1 2017-02-01           23
2 2017-03-01           28
3 2017-04-01           30
4 2017-05-01           35

In [19]:
df['temperature']

0    32
1    23
2    28
3    30
4    35
Name: temperature, dtype: int64

In [21]:
df['temperature'].max() # if we want to print max temperture

35

In [23]:
df['temperature'].describe()     # it describe whole stastics of temperature data

count     5.000000
mean     29.600000
std       4.505552
min      23.000000
25%      28.000000
50%      30.000000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [24]:
 df[df.temperature>=30]  # it will give all rows whose temperature >=30

         day  temperature  windspeed  event
0 2017-01-01           32          6  Rainy
3 2017-04-01           30          8  Sunny
4 2017-05-01           35          4   snow

In [28]:
df[df.temperature==df.temperature.max()] # it will print the rows which have maximum tempratue

         day  temperature  windspeed event
4 2017-05-01           35          4  snow