In [2]:
import pandas as pd      # By using discnary we can create a data frame
lav1={
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,32,29],
    'windspeed':[6,7,5]
}
df=pd.DataFrame(lav1)

In [3]:
df

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           32          7
2  1/3/2017           29          5

In [4]:
df.to_csv('lav1_csv')    # creating csv file of data frame 'df' and give name is 'lav1_csv'

In [7]:
stocks={
    'ticker':['GGL','WMT','MSFT','RIL','TATA'],
    'eps':[27.82,4.96,-1,'not avaliable',5.6],
    'revanue':[845,65,64,1023,'na'],
    'peple':['larry page','na','bill gates','mukesh ambani','ratan tata']
}
df2=pd.DataFrame(stocks)

In [8]:
df2

  ticker            eps revanue          peple
0    GGL          27.82     845     larry page
1    WMT           4.96      65             na
2   MSFT             -1      64     bill gates
3    RIL  not avaliable    1023  mukesh ambani
4   TATA            5.6      na     ratan tata

In [27]:
df2.to_csv('stocks_csv_file')  # creating  csv file of data frame

In [28]:
df2.to_excel('stocks_excel_file.xlsx')    # creating  excel file of data frame